@tailwind base;
@tailwind components;
@tailwind utilities;

.anim-y {
    animation: anim-y 0.3s;
}
@keyframes anim-y {
    from {
        transform: translateY(140%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.scroll-container {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.scroll-content {
    display: flex;
    animation: scroll 30s linear infinite;
}

.navigation-link {
    padding: 0 1rem;
    white-space: nowrap;
}

.letter {
    display: inline-block;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.fade-out {
    animation: fadeOutLeft 0.1s forwards;
}

/* Kluczowa animacja */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.wrapper {
    max-width: 1536px;
    margin: 0 auto;
    animation: anim-opacity 0.2s both 0.1s;
}
.anim-opacity {
    animation: anim-opacity 0.2s both 0.1s;
}
@keyframes anim-opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.bgAnim {
    max-width: 1536px;
    margin: 0 auto;
    animation: bgAnim 0.6s;
}
@keyframes bgAnim {
    0% {
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

:root {
    --background-primary: #f8f8f8;
    --background-secondary: rgb(255, 255, 255);

    --foreground-primary: #1a1919;
    --foreground-secondary: #292525;

    --accent-primary: #ffffff;
    --accent-secondary: #61563c;

    --border-primary: #ffffff;
    --border-secondary: #ebebeb;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-primary: #141414;
        --background-secondary: rgb(26, 24, 23);

        --foreground-primary: #ffffff;
        --foreground-secondary: #bebebe;

        --accent-primary: #ffffff;
        --accent-secondary: #61563c;

        --border-primary: #383737;
        --border-secondary: #383737;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
